{% extends 'base.html.twig' %}

{% block title %} Add Session {% endblock %}

{% block body %}

    <div class="form">
        {% if 'edit' %}
            <h1> Edit a Session </h1>
        {% else %}
            <h1> Add a Session </h1>
        {% endif %}
        <br>
        {# form() -> twig native function to show a form #}
        {# The key value of the associative array in add function in /SessionsController #}
        {{form(formAddSession)}}
    </div>

{% endblock %}