{% extends 'base.html.twig' %}

{% block title %} Add Module {% endblock %}

{% block body %}

    <div class="form">
        {% if 'edit' %}
            <h1> Edit a Module </h1>
        {% else %}
            <h1> Add a Module </h1>
        {% endif %}
        <br>
        {# form() -> twig native function to show a form #}
        {# The key value of the associative array in add function in /InternController #}
        {{form(formAddModule)}}
    </div>

{% endblock %}